.sparkline .line {
  fill: none;
  stroke: #000;
}
.sparkline .end {
  fill: #f00;
}
.sparkline .end-value {
  padding-left: 0.5em;
}
.sparkline .tick line {
  opacity: .2;
}
.sparkline .tick text {
  opacity: .7;
}
