.sparkarea .area {
  fill: red;
}
.sparkarea .area.series-0 {
  fill: #222;
}
.sparkarea .area.series-1 {
  fill: #444;
}
.sparkarea .area.series-2 {
  fill: #666;
}
.sparkarea .area.series-3 {
  fill: #888;
}
.sparkarea .area.series-4 {
  fill: #aaa;
}
.sparkarea .area.series-5 {
  fill: #ccc;
}
.sparkarea .area.series-6 {
  fill: #eee;
}
.sparkarea .label-line {
  stroke: #000;
}
.sparkarea .tick line {
  opacity: .2;
}
.sparkarea .tick text {
  opacity: .7;
}
